
<div class="footer-content">
  <div class="footer-item item-1"><a href="https://mega.nz/file/p6MwTLDZ#QbTiqu62ZuYh4mRFxcowuBMwrD9PqpkEmSlSz7IvAUY" target="_blank">
    <img src="/images/Errores.ico" alt="Errores">
  </a></div>
  <div class="footer-item item-2"><a href="https://mega.nz/file/pvtmgBYA#9ylJcdRCdIb7DvliKEFedmBP-is5blilUc_-zvZplko" target="_blank">
    <img src="/images/Escaneos.ico" alt="Escaneos">
  </a></div>
  <div class="footer-item item-3"><a href="https://mega.nz/file/xm9FzB5b#ueAwo5PL8Zzyu4CkTi4EKJGhfpxecCUY0YqzYuFrTA8">
    <img src="/images/notion.png" alt="Escaneos Icono">
  </a></div>
</div>

  