<div class="footer">
    <div class="footer-content">
      <span class="footer-item"><a href="https://mega.nz/file/p6MwTLDZ#QbTiqu62ZuYh4mRFxcowuBMwrD9PqpkEmSlSz7IvAUY"><strong>ERRORES</strong> </a></span>
      <span class="footer-item"><a href="https://mega.nz/file/pvtmgBYA#9ylJcdRCdIb7DvliKEFedmBP-is5blilUc_-zvZplko"><strong>ESCANEOS</strong></a></span>
      <span class="footer-item"><a href=""><strong>BAJAR NOTION</strong></a></span>
    </div>
  </div>
  