<!DOCTYPE html>
<html lang="es">
<head>
  <title>Recetas</title>
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/l10n/es.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <!-- <link rel="stylesheet" href="css/footer.css"> -->
</head>
<body>
  <div class="contenedorBody">
    <div class="banner">
      <%- include('partials/banner') %>
    </div>
    
    <div class="recetas-container">
      <h2>Recetas</h2>
      <div class="formulario">
        <form action="/recetas" method="post" class="form">
          <div class="fechas mitad">
            <div type="text" id="dateRange" class="calendario" name="dateRange" required></div>
            <input type="hidden" id="startDate" name="startDate">
            <input type="hidden" id="endDate" name="endDate">
          </div>
          <div class="sucursal mitad">
            <label for="sucursal">Sucursal:</label>
            <select id="sucursales" name="sucursal">
              <option value="all">Todas las sucursales</option>
            </select>
            <p id="dateError" class="error-message">Seleccione fechas de inicio y fin.</p>
            <div class="recetas-count" id="recetasCount"></div>
          </div>
          <div class="downloadContain">
            <button type="submit" class="download">Descargar Codigos</button>
          </div>
        </form>
      
        <form action="/logout" method="get" class="logoutContainer">
          <button type="submit" class="logout">Cerrar sesión</button>
        </form>
      </div>
      
    </div>
   
   
  </div>
 <!-- <%- include('partials/footer') %> -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      setTimeout(() => {
        document.querySelector('.banner').classList.add('cargado');
      }, 700);

      // Cargar sucursales dinámicamente
      fetch('/sucursales')
        .then(response => response.json())
        .then(data => {
          const select = document.getElementById('sucursales');
          data.forEach(sucursal => {
            const option = document.createElement('option');
            option.value = sucursal;
            option.textContent = sucursal;
            select.appendChild(option);
          });
        })
        .catch(error => console.error('Error al cargar sucursales:', error));
    });

    flatpickr("#dateRange", {
      mode: "range",
      inline: true,
      dateFormat: "Y-m-d",
      locale: 'es',
      onChange: function(selectedDates, dateStr, instance) {
        if (selectedDates.length === 2) {
          const startDate = instance.formatDate(selectedDates[0], "Y-m-d");
          const endDate = instance.formatDate(selectedDates[1], "Y-m-d");
          document.getElementById('startDate').value = startDate;
          document.getElementById('endDate').value = endDate;
          document.getElementById('dateError').style.display = 'none';
          // Obtener la sucursal seleccionada
          const sucursal = document.getElementById('sucursales').value;

          // Enviar solicitud AJAX para obtener la cantidad de recetas
          fetch('/recetas-count', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ startDate, endDate, sucursal })
          })
          .then(response => response.json())
          .then(data => {
            if (data.count == 0){
              document.getElementById('recetasCount').textContent = 'No se encontraron recetas';
            } else{
              document.getElementById('recetasCount').textContent = `Recetas encontradas: ${data.count}`;
            }
          })
          .catch(error => console.error('Error:', error));
        } else {
          // Mostrar mensaje de error si no se seleccionaron ambas fechas
          document.getElementById('dateError').style.display = 'block';
        }
      }
    });

    // Actualizar la cantidad de recetas al cambiar la sucursal
    document.getElementById('sucursales').addEventListener('change', () => {
      const startDate = document.getElementById('startDate').value;
      const endDate = document.getElementById('endDate').value;
      const sucursal = document.getElementById('sucursales').value;

      if (startDate && endDate) {
        fetch('/recetas-count', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ startDate, endDate, sucursal })
        })
        .then(response => response.json())
        .then(data => {
          if (data.count == 0){
              document.getElementById('recetasCount').textContent = 'No se encontraron recetas';
            } else{
              document.getElementById('recetasCount').textContent = `Recetas encontradas: ${data.count}`;
            }
        })
        .catch(error => console.error('Error:', error));
      }
    });
  </script>
</body>
</html>

